[Unit]
Description=Blockxd node
After=network-online.target

[Service]
User=root
ExecStart=cosmovisor run start --home $HOME/.blockxd
Restart=always
RestartSec=1
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
